@import "../../lib/colors";

@mixin loader{
  &.loader {
    position: relative;
    width: 100px;
    height: 100px;
    align-items: center;

      .icon{
        margin: auto;
        border: 12px solid #f3f3f3;
        border-top: 12px solid $color-bubbly-blue;
        border-radius: 50%;
        width: 80%;
        height: 80%;
        animation: spin 2s linear infinite;
      }
      p{
        position: relative;
        left: 6px;
      }
  }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }