@import "./lib/colors";
@import "./lib/fonts";

body, html {
    background-color: $color-background;
    font: $font-paragraph;

    .inverted {
        background-color: $color-background-inverted;
    }
}
