@import "../../lib/colors";
@import "../../lib/fonts";
@import "../../lib/mixins";
@import "../../lib/variables";

@mixin dropdown {
  &.dropdown {
    color: $color-asu-maroon;
    background: $color-white;
    width: 10rem;
    border-radius: $border-radius;
    border: 0.3rem solid transparent;

    &:hover {
      border-color: $color-light-grey;
    }

    .dropbtn {
      padding: 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-in-out;
    }

    .dropdown__items {
      cursor: pointer;
    }

    .dropdown__item {
      padding: 0.9rem;
      transition: all 0.2s ease-in-out;

      &:last-child {
        margin-bottom: 0.5rem;
      }

      &:hover {
        background-color: $color-light-grey;
      }
    }

    &.inverted {
      background: $color-asu-maroon;
      color: $color-white;

      &:hover {
        border-color: $color-darker-grey;
      }

      .dropdown__item {
        &:hover {
          background-color: $color-darker-grey;
        }
      }
    }
  }
}
